/* Eric Meyer reset, modified */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	font-family: Arial,sans-serif;
	background: #FFF;
	color: #000;
	overflow: hidden;
}

html, body, button, input, select, td {
	font-size: 18px;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-both {
	clear: both;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.section {
	margin: 16px 0 12px 0;
	font-weight: bold;
}

form.input-form {
	width: 310px;
	border:1px solid #84B0C7;
	padding: 10px;
	margin-bottom: 10px;
}

div.button-row {
	text-align: right;
}

button.cancel {
	font-size:70%;
	margin-right: 10px;
}

button.submit {
	font-weight: bold;
	padding: 0 4px 2px 4px;
}

/* Header */

#header {
	width: 100%;
	height: 60px;
	font-size: 16px;
	color: #F9FDFA;
	background: url(../images/claslite-logo.png) no-repeat #26432B;
	background-position: 3px 3px;
	margin-bottom: 8px;
}

#header-tagline {
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
	position: absolute;
	left: 212px;
	top: 9px;
}

#header-links {
	position: absolute;
	top: 8px;
	right: 8px;
	text-align: right;
}

#header-links a, #header-links a:visited {
	color: #F9FDFA;
}

#site-links {
	margin-bottom: 8px;
}

span.pipe {
	padding: 0 6px;
	color: #9EB08E;
}

/* Tabs */

div.tabs {
	width: 100%;
	background: url("../images/tabs-background.gif") repeat-x bottom;
	line-height: normal;
}

ul.tabs {
	margin: 0;
	padding: 4px 10px 0 8px;
	list-style: none;
}

ul.tabs li {
	display: inline;
	margin: 0;
	padding: 0;
}

ul.tabs a {
	float: left;
	outline: none;
	background: url("../images/tabs.gif") no-repeat left top;
	font-size: 16px;
	margin: 0 6px 0 0;
	padding: 0 0 0 9px;
	border-bottom: 1px solid #84B0C7;
	text-decoration: none;
}

ul.tabs a span {
	float: left;
	display: block;
	cursor: pointer;
	background: url("../images/tabs.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	font-weight: bold;
	color: #555;
}

ul.tabs a.hover span {
	color: #555;
}

ul.tabs li.selected a {
	background-position: 0 -150px;
	border-width: 0;
	margin-top: -2px;
}

ul.tabs li.selected a span {
	background-position: 100% -150px;
	padding-bottom: 7px;
	color: #000;
}

ul.tabs a.hover {
	background-position: 0% -150px;
}

ul.tabs a.hover span {
	background-position: 100% -150px;
}

#tabs-base {
	width: 100%;
	height: 16px;
	background: #D5E1E8 url("../images/tabs-background.gif") repeat-x bottom;
}

/* Main */

#main {
	position: relative;
	width: 100%;
}

/* Sidebar */

#sidebar-outer {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

#sidebar {
	margin: 12px 10px;
	width: 100%;
}

/* Locations */

#location-search-form {
	width: 330px;
	padding-bottom: 6px;
	border-bottom: 1px solid #84B0C7;
	margin-bottom: 6px;
}

#location-search-input, #location-search-buttons {
	margin-top: 6px;
	display: block;
	width: 330px;
}

#location-search-buttons {
	position: relative;
}

#location-search-submit {
	display: block;
	float: right;
}

#location-results-list {
	width: 330px;
}

ul.geocode-list {
}

li.geocode-item {
	border: 1px solid white;
	margin: 1px;
	padding: 2px;
	cursor: pointer;
}

li.geocode-item.hover, li.geocode-item.active {
	border: 1px solid #84B0C7;
}

li.geocode-item.active {
	background-color: #DDD;
}

/* Color picker */

div.color-picker-row {
	margin-bottom: 6px;
}

input.color-picker {
	font-size: 15px;
	width:70px;
	padding: 2px;
}

#mColorPickerInput {
	font-size:13px !important;
}

/* Color legend */

.legend-colors {
	margin: 8px 0 12px 30px;
}

.legend-color {
	width: 14px;
	height: 14px;
	float: left;
}

.legend-label {
	margin-left:4px;
	font-size: 14px;
	line-height: 14px;
	float: left;
}

/* Slider */

div.slider-panel {
	margin-top: 16px;
}

.slider-label {
	padding: 4px 8px 0 0;
	float: left;
}

/* slider root element */
.slider { 
	background-color:#D5E1E8;
	height:8px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #84B0C7;
	width:150px;
	float:left; 
	clear:right;
	margin-top:9px;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	-moz-box-shadow:inset 0 0 8px #84B0C7
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#fff url(../images/h30.png) repeat-x 0 0; 
	height:16px;
	width:16px;
	top:-7px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	border:2px solid #84B0C7;
	cursor:pointer;
	-moz-box-shadow:0 0 4px #84B0C7;
	-webkit-box-shadow:0 0 4px #84B0C7;
	-moz-border-radius:6px;
	-webkit-border-radius:6px; 

}

/* the input field */
.range {
	border:1px solid #84B0C7;
	float:left;
	font-size:16px;
	margin:0 0 0 10px;
	padding:3px 0;
	text-align:center;
	width:38px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 		
}

/* Forest change */

.date-panel {
	float: left;
	width: 150px;
	text-align: center;
}

.date-panel select {
	margin-top: 8px;
}

/* Map */

#mapwrap {
	position: absolute;
	border-left:1px solid #888;
	left: 350px;
	top: 0;
	height: 100%;
}

/* CIS logo */

#cis-logo {
	position: absolute;
	right: 5px;
	bottom: 20px;
	width: 180px;
	height: 81px;
	background: url(../images/cis-logo.gif) no-repeat;
}
