/* Eric Meyer reset, modified */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	font-size: 16px;
	font-family: Arial,sans-serif;
	background: #FFF;
	color: #000;
	overflow: hidden;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-both {
	clear: both;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Header */

#header {
	width: 100%;
	height: 60px;
	color: #F9FDFA;
	background: url(../images/claslite-logo.png) no-repeat #26432B;
	background-position: 3px 3px;
	margin-bottom: 8px;
}

/* Tabs */

div.tabs {
	width: 100%;
	background: url("../images/tabs-background.gif") repeat-x bottom;
	line-height: normal;
}

ul.tabs {
	margin: 0;
	padding: 4px 10px 0 8px;
	list-style: none;
}

ul.tabs li {
	display: inline;
	margin: 0;
	padding: 0;
}

ul.tabs a {
	float: left;
	outline: none;
	background: url("../images/tabs.gif") no-repeat left top;
	margin: 0 6px 0 0;
	padding: 0 0 0 9px;
	border-bottom: 1px solid #84B0C7;
	text-decoration: none;
}

ul.tabs a span {
	float: left;
	display: block;
	cursor: pointer;
	background: url("../images/tabs.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	font-weight: bold;
	color: #555;
}

ul.tabs a.hover span {
	color: #555;
}

ul.tabs li.selected a {
	background-position: 0 -150px;
	border-width: 0;
	margin-top: -2px;
}

ul.tabs li.selected a span {
	background-position: 100% -150px;
	padding-bottom: 7px;
	color: #000;
}

ul.tabs a.hover {
	background-position: 0% -150px;
}

ul.tabs a.hover span {
	background-position: 100% -150px;
}

#tabs-base {
	width: 100%;
	height: 16px;
	background: #D5E1E8 url("../images/tabs-background.gif") repeat-x bottom;
}

/* Main */

#main {
	position: relative;
	width: 100%;
}

/* Sidebar */

#sidebar-outer {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

#sidebar {
	margin: 8px;
	width: 100%;
}

/* Locations */

#location-search-form {
	width: 330px;
	padding-bottom: 6px;
	border-bottom: 1px solid #888;
	margin-bottom: 6px;
}

#location-search-input, #location-search-buttons {
	margin-top: 6px;
	display: block;
	width: 330px;
}

#location-search-buttons {
	position: relative;
}

#location-search-submit {
	display: block;
	float: right;
}

/* Color picker */

input.color-picker {
	width:80px;
}

#mColorPickerInput {
	font-size:13px !important;
}

/* Map */

#mapwrap {
	position: absolute;
	border-left:1px solid #888;
	left: 350px;
	top: 0;
	height: 100%;
}
